<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 style="text-align: center;">Update Page</h1>
  <div style="text-align: center;">
    <%- include("nav")%>

    <form  style="text-align: center;" action="/update/<%= user._id%>" method="post">
      <div style="margin-bottom: 10px; margin-top: 10px;">
        <label for="">Name</label> <input type="text" name="name" placeholder="Enter Name"  value="<%= user.name%>">
      </div>
      <div style="margin-bottom: 10px;">
        <label for="">Email</label> <input type="email" name="email" placeholder="Enter Email" value="<%= user.email%>">
      </div>
      <div style="margin-bottom: 10px;"> 
        <label for="">Password</label> <input type="text" name="password" placeholder="Enter password" value="<%= user.password%>" >
      </div>

      <button>Update  User</button>
    </form>
  </div>
</body>
</html>